<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new appointment has been requested with the following details.</h1>
    <p>
        <strong>Email: </strong><%= @appointment.email %>
    </p>
    <p>
        <strong>First Name: </strong><%= @appointment.first %>
    </p>
    <p>
        <strong>Last Name: </strong><%= @appointment.last %>
    </p>
    <p>
        <strong>Phone Number: </strong><%= @appointment.phone %>
    </p>
    <p>
        <strong>Year: </strong><%= @appointment.year %>
    </p>
    <p>
        <strong>Make: </strong><%= @appointment.make %>
    </p>
    <p>
        <strong>Model: </strong><%= @appointment.model %>
    </p>
    <p>
        <strong>Repair Requested: </strong><%= @appointment.repair %>
    </p>
    <p>
        <strong>Appointment Date/Time: </strong><%= @appointment.datetime %>
    </p>
    <p>
        <strong>IP Address: </strong><%= @appointment.ipaddress %>
    </p>
  </body>
</html>