<h1>New Appointment</h1>
<%= form_with scope: :appointment, url: appointments_path, local: true do |form| %>
    <% if @appointment.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@appointment.errors.count, "error") %> needs to be addressed:
            </h2>
            <ul>
                <% @appointment.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <p>
        <%= form.label :email %><br>
        <%= form.text_field :email %>
    </p>

    <%= form.submit "Request Appointment" %>

<% end %>

<%= link_to 'Home', "/" %>