<h1>Your Appointment Details</h1>
<p>
    <strong>Email: </strong><%= @appointment.email %>
</p>
<p>
    <strong>First Name: </strong><%= @appointment.first %>
</p>
<p>
    <strong>Last Name: </strong><%= @appointment.last %>
</p>
<p>
    <strong>Phone Number: </strong><%= @appointment.phone %>
</p>
<p>
    <strong>Year: </strong><%= @appointment.year %>
</p>
<p>
    <strong>Make: </strong><%= @appointment.make %>
</p>
<p>
    <strong>Model: </strong><%= @appointment.model %>
</p>
<p>
    <strong>Repair Requested: </strong><%= @appointment.repair %>
</p>
<p>
    <strong>Appointment Date/Time: </strong><%= @appointment.datetime %>
</p>

<% if @appointment.rating %>
    <p>
        <strong>Rating: </strong><%= @appointment.rating.rating %>
    </p>
<% else %>
    <p><strong>Rate your Experience:</strong> (1-10)</p>
    
    <%= form_with(model: [ @appointment, @appointment.build_rating ], local: true) do |form| %>
        <p>
            <%= form.label :rating %><br>
            <%= form.text_field :rating %>
        </p>

        <p>
            <%= form.submit "Submit Rating" %>
        </p>
    <% end %>
<% end %>

<%= link_to 'Home', "/" %>